doctype html
html
  head
    link(rel='stylesheet' href='main.css')
  body

    input(class='textfield-default textfield-default-pos' placeholder='Email')

    div(class='dropdown-default-wrapper dropdown-default-pos')
      span(class='material-icons') keyboard_arrow_down
      select(class='' placeholder='Сколько гостей')
        - let n = 0
        while n < 10
          option= n++

