doctype html
html
  head
    link(rel='stylesheet' href='style.css')
  body

    input(class='text-field-default text-field-default-pos' placeholder='Email')

    select(class='dropdown-default' placeholder='Сколько гостей')
    

